
.login-box, .register-box {
width: 400px;
margin: 7% auto;
padding: 20px;;
}
@media (max-width: 767px){
.login-box, .register-box {
width: 100%;
}
}
.login-box-msg, .register-box-msg {
margin: 0;
text-align: center;
padding: 0 20px 20px 20px;
text-align: center;
font-size: 20px;;
font-weight: bold;
}
.box-custom{
border: 1px solid #cccccc;
padding: 20px;
color: #666;
}

 /* END: PAGE CONTENT */

/* <!-- Begin: Testimonals 1 component --> */


.news_image, .image, .news_title, .a-more, .news_description {
position: relative;
z-index: 200;
}
span.sale {
position: absolute;
z-index: 1000;
right: -1px;
top:-1px;
background: rgba(255, 212, 36, .9);
padding: 5px;
text-align: center;
color: #ee4d2d;
width: 50px;
font-weight: 700;
font-size: 15px;
}
.sale:after {
content: "";
width: 0;
height: 0;
left: 0;
bottom: -4px;
position: absolute;
border-color: transparent rgba(255, 212, 36, .9);
border-style: solid;
border-width: 0 25px 4px;
}
.outPrice {
padding-top: 20px;
text-align: center;
width: 100px;
margin: 0 auto;
margin-top: 10px;
display: flex;
justify-content: center;
}
.oldPrice {
text-decoration: line-through;
color: #3f0;
border: 2px solid;
padding: 5px 15px;
border-radius: 5px;
font-size: 14px;
font-weight: bold;
}
.newPrice {
border: 2px solid red;
padding: 5px 15px;
color: red;
display: inline;
border-radius: 5px;
margin-left: 10px;
font-size: 14px;
font-weight: bold;
margin-bottom: 10px;
}
.game-list .a-more .view{
margin-top: 20px;
}
@media (max-width: 550px) {
.outPrice {
flex-direction: column;
}
.newPrice {
margin-left: 0;
margin-top: 10px;
margin-bottom: 10px;
}
}


.c-layout-header .c-navbar .c-mega-menu > .nav.navbar-nav > li > .c-link{padding:41px 10px 39px 10px}
.ui-autocomplete {
max-height: 500px;
overflow-y: auto;
overflow-x: hidden;
}
.input-group-addon {
background-color: #FAFAFA;
}
.input-group .input-group-btn > .btn, .input-group .input-group-addon {
background-color: #FAFAFA;
}
.modal {
text-align: center;
}
@media  screen and (min-width: 768px) {
.modal:before {
display: inline-block;
vertical-align: middle;
content: " ";
height: 100%;
}
}
@media (min-width: 992px) and (max-width: 1200px) {
.c-layout-header-fixed.c-layout-header-topbar .c-layout-page {
margin-top: 245px;
}
}
@media  screen and (max-width: 767px) {
.modal-dialog:before {
margin-top: 75px;
display: inline-block;
vertical-align: middle;
content: " ";
height: 100%;
}
.modal-dialog {
width: 100%;
}
.modal-content {
margin-right: 20px;
}
}
.modal-dialog {
display: inline-block;
text-align: left;
}
.mfp-wrap {
z-index: 20000 !important;
}
.c-content-overlay .c-overlay-wrapper {
z-index: 6;
}
.z7 {
z-index: 7 !important;
}

